################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/grabbyfanalapi/FileContentIndex/5baa7786-e651-4eaa-ab42-99f49a6e9209.vsidx
/.vs/grabbyfanalapi/FileContentIndex
